@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.intro{
	width: 100%;
	height: 100%; 
	margin: 0 auto;
	display: table;
  background-color: #fff;
	top: 0;
	background-size: cover;
}

.inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

.content h1 {
	font-family: 'Raleway', sans-serif;
	color: #1D2731;
	font-size: 500%;
}

.btn{
	font-family: 'Oswald', sans-serif;
	color: #1D2731;
	font-size: 135%;
	padding: 10px 20px;
	border: solid #1D2731 3px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn:hover{
	color: #FA5C57;
	border: solid #FA5C57 3px;
}

#education-section{
  width: 100%;
  height: 100%; 
  margin: 0 auto;
  display: table;
  background-color: #32a0f5;
  top: 0;
  background-size: cover;
}

.education-inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.education-content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

#education-section h1{
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 300%;
  text-decoration: none;
}

#education-section p{
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
}

#experience-section{
  width: 100%;
  height: 100%; 
  margin: 0 auto;
  display: table;
  background-color: #32a0f5;
  top: 0;
  background-size: cover;
}

.experience-inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.experience-content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

#experience-section h1{
  font-family: 'Raleway', sans-serif;
  font-size: 200%;
}

#activities-section{
  width: 100%;
  height: 100%; 
  margin: 0 auto;
  display: table;
  background-color: #02C8A7;
  top: 0;
  background-size: cover;
}

.activities-inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.activities-content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

#activities-section h1{
  font-family: 'Raleway', sans-serif;
  font-size: 200%;
  color: #32a0f5;
}

#social-section{
  width: 100%;
  height: 100%; 
  margin: 0 auto;
  display: table;
  background-color: #fff;
  top: 0;
  background-size: cover;
}

.social-inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.social-content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

#social-section h1{
  font-family: 'Raleway', sans-serif;
  font-size: 200%;
  color: #1D2731;
}

ul{
     margin: 0 auto;
     padding: 0;
     left: 50%;
     display: table;
}

ul li{
      list-style: none;
      float: left;
      margin: 0px;
      width: 100px;
      height: 100px;
      line-height: 100px;
      text-align: center;
      background: #fff;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      color: #1D2731;
      font-size: 60px;
      z-index: 1;
      transition: 0.5s ease-in-out;
}

ul li:before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: -100%;
      background: #ccc;
      z-index: -1;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.3s ease-in-out;
    }

    ul li:after{
      content:'';
      width: 50%;
      height: 100%;
      position: absolute;
      right: -100%;
      top: 0;
      background: rgba(255,255,255,0.3);
      transition: 0.5s ease-in-out;
      transition-delay: 0.3s;
    }

    ul li:hover:before{
      left: 0;
      transform: scale(0.9);
    }

    ul li:nth-child(1):before{
      background: #3b5999;
    }

    ul li:nth-child(2):before{
      background: #19B5FE;
    }

    ul li:nth-child(3):before{
      background: #0077B5;
    }

    ul li .fa{
      transition: 0.3s ease-in-out;
    }

    ul li:hover .fa{
      color: #fff;
    }

    li a { text-decoration: none; color:#000; }
    li a:visited { text-decoration: none; color:#000; }
    li a:hover { text-decoration: none; color:#000; }
    li a:focus { text-decoration: none; color:#000; }
    li a:hover, .navBtn:active { text-decoration: none; color:#000; }

#page-footer {
  padding: 0.5em;
  text-align: center;
  background-color: #32a0f5;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.diamond, .dia {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.diamond {
  transform: rotate(45deg) translateY(-25px) translateX(-25px);
}
.diamond .dia {
  width: 254px;
  height: 254px;
  transform: rotate(-45deg);
}
.diamond img {
  width: 100%;
  height: auto;
}