* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  color: #359cf9;
  font-family: 'Gotham Book', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: 'Circular Std Bold', sans-serif;
}

a {
  text-decoration: none;
  color: #359cf9;
}

.selected {
  color: #f97d35;
}

a:hover {
  color: #f97d35;
}

nav {
  height: 10vh;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;

  justify-content: flex-end;
  align-items: center;
  padding: 30px 50px;
}

.li-navStyle {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.navigation {
  list-style: none;
}

.container {
  height: 90vh;
  width: 100%;
  display: flex;
}

.hero {
  margin: 0 auto;
  max-width: 50%;
}

.hero--left {
  text-align: center;
  height: 80vh;
  width: 50%;
  margin: 0;
  padding: 0;
  float: left;
  display: flex;
  line-height: 1.5;
}

.hero--left-content {
  flex: 1;
  align-self: center;
}

.hero--left p {
  font-size: 1.5em;
  animation: Slide_Down 1.5s ease;
}

.hero--left h1 {
  animation: Slide 0.5s ease;
}

.hero--right {
  /* height: 100vh; */
  width: 50%;
  display: flex;
  align-self: center;
}

.hero--right img {
  padding-left: 15%;
  animation-fill-mode: both;
  animation: Slide 0.6s ease;
}

@keyframes Slide {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
    display: block;
  }
}

@keyframes Slide_Down {
  0% {
    transform: translateY(-50px);
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
    visibility: visible;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#about {
  animation: transitionIn 0.75s;
  margin: 0 auto;
  text-align: center;
}

#about-header {
  color: #f97d35;
}

#about-bio {
  padding-top: 5%;
  font-size: 15px;
  width: 30em;
  margin: 0 auto;
  line-height: 1.5;
  color: black;
}

@media screen and (min-width: 1024px) {
  #about-bio {
    padding-top: 15%;
  }
}

#photo-id {
  margin-top: 2.5%;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.experience--left{
  display: flex;
  justify-content: space-around;

}

.experience-box:hover {
  box-shadow: 5px 5px #359cf9;
}

.experience--left-content {
  padding-top: 5%;  
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 50%;
  height: 500px;
  color: black;
}

.experience--left-content img {
  padding-top: 15px;
  width: 40%;
  margin: auto;
  display: block;

}

.left-experience-description{
  margin-top: 5%;
  line-height: 25px;
}

.experience--right {
  animation: transitionIn 0.75s;
  width: 50%;
  display: inline-block;
}

.experience--right-content{
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 75%;
  height: 450px;
  color: black;
  overflow: auto;
}


.experience--company-logo {
  width: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2vh;
}

.box-company-logo {
  max-width: 25%;
}

.experience-role, .experience-duration {
  padding-top: 5%;
 text-align: center;
}

.experience-description {
  padding-bottom: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  text-align: center;
}

.experience--skills-used {
  padding-top: 5%;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  color: #359cf9;
}
.experience-bullet {
  text-transform: uppercase;
  font-weight: 600;
}

/* TABS */ 
.tabs{
  display: flex;
}

.tabs__sidebar {

  padding-top: 15%;
  width: 150px;
  flex-shrink: 0;
}

.tabs__button {
  font-size: 16px;
  display: block;
  padding: 10px;
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.tabs__button:active {
  background: white;
}

.tabs__button--active {
  font-weight: bold;
  border-right: 3px solid #359cf9;
  background: white;
}

.tabs__content {
  display: none; 
  color: black;
  padding: 15px;
  font-size: 0.8rem;
}

.tabs__content--active {
  width: 100%;
  animation: transitionIn 0.75s;
  display: block;
}

.tabs__content > :first-child {
  margin-top: 0;
}


/* contact */
.section-container {
  color: black;
  margin: 0 auto;
}

.social-icons{
  color: black;
  margin: 0 auto;
  padding: 0;
  left: 50%;
  display: table;
}

.social-li {
  list-style: none;
   float: left;
   margin: 0px;
   width: 100px;
   height: 100px;
   line-height: 100px;
   text-align: center;
   background: #fff;
   border-radius: 50%;
   position: relative;
   overflow: hidden;
   color: #1D2731;
   font-size: 50px;
   z-index: 1;
   transition: 0.5s ease-in-out;
}

.social-icons li{
   list-style: none;
   float: left;
   margin: 0px;
   width: 100px;
   height: 100px;
   line-height: 100px;
   text-align: center;
   background: #fff;
   border-radius: 50%;
   position: relative;
   overflow: hidden;
   color: #1D2731;
   font-size: 50px;
   z-index: 1;
   transition: 0.5s ease-in-out;
}

.social-icons li:before{
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: -100%;
   background: #ccc;
   z-index: -1;
   border-radius: 50%;
   transform: scale(0);
   transition: 0.3s ease-in-out;
 }


 .social-icons li .fa{
   transition: 0.3s ease-in-out;
 }

 .social-icons li:hover .fa{
   color: #0077B5;
 }


 .contact-content {
  animation: transitionIn 0.75s;
  color: #f97d35;
  padding-top: 20%;
   width: 100%;
 }

/* Work */
.work-content {
  animation: transitionIn 0.75s;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #f97d35;
}