* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  color: #359cf9;
  font-family: 'Gotham Book', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: 'Circular Std Bold', sans-serif;
}

a {
  text-decoration: none;
  color: #359cf9;
}

a:hover {
  color: #f97d35;
}

nav {
  height: 10vh;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;

  justify-content: flex-end;
  align-items: center;
  padding: 30px 50px;
}

.li-navStyle {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.navigation {
  list-style: none;
}

.container {
  height: 90vh;
  width: 100%;
  display: flex;
}

.hero {
  margin: 0 auto;
  max-width: 50%;
}

.hero--left {
  text-align: center;
  height: 80vh;
  width: 50%;
  margin: 0;
  padding: 0;
  float: left;
  display: flex;
  line-height: 1.5;
}

.hero--left-content {
  flex: 1;
  align-self: center;
}

.hero--left p {
  font-size: 1.5em;
  animation: Slide_Down 1.5s ease;
}

.hero--left h1 {
  animation: Slide 0.5s ease;
}

.hero--right {
  /* height: 100vh; */
  width: 50%;
  display: flex;
  align-self: center;
}

.hero--right img {
  padding-left: 15%;
  animation-fill-mode: both;
  animation: Slide 0.6s ease;
}

@keyframes Slide {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
    display: block;
  }
}

@keyframes Slide_Down {
  0% {
    transform: translateY(-50px);
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
    visibility: visible;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#about {
  animation: transitionIn 0.75s;
  margin: 0 auto;
  text-align: center;
}

#about-header {
  color: #f97d35;
}

#about-bio {
  padding-top: 5%;
  font-size: 15px;
  width: 30em;
  margin: 0 auto;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) {
  #about-bio {
    padding-top: 15%;
  }
}

#photo-id {
  margin-top: 2.5%;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

/* .about {
  width: 100%;
  height: 100vh;
  background-color: #359cf9;
  color: white;
  text-align: center;
  padding-top: 20px;
} */

.experience--left{
  width: 50%;
  /* display: inline-block; */
  /* background-color: orange;  */
  display: flex;
  justify-content: space-around;

}

.experience--left-content {
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 80%;
  height: 500px;
  /* background-color: lightseagreen;  */
  color: black;
  /* background-color: yellow;  */
}

.experience--left-content img {
  padding-top: 15px;
  width: 40%;
  margin: auto;
  display: block;

}

.left-experience-description{
  margin-top: 5%;
  line-height: 25px;
}

.experience--right {
  width: 50%;
  display: inline-block;
  /* background-color: blanchedalmond; */
}

.experience--right-content{
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 75%;
  height: 450px;
  /* background-color: lightseagreen;  */
  color: black;
  overflow: auto;
}

#right-content::-webkit-scrollbar {
  width: 12px;
	background-color: #F5F5F5;
}

#right-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#right-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 91, 170, 0.8);
	background-color: #359cf9;
}

.experience-box {
  border: solid 2px black;
  border-radius: 10px;
  margin: 20px 20px;
  background-color: #f2f2ef;
  
}

.experience--company-logo {
  width: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2vh;
}

.experience-description {
  padding-bottom: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.experience--skills-used {
  padding-top: 5%;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
}
.experience-bullet {
  text-transform: uppercase;
  font-weight: 600;

}